@{
    ViewBag.Title = "Work In Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div class="container group">
	<div class="row">
		<div class="col-md-12">
        <div class="img-responsive"></div><img src="~/Content/images/work-in-progress.jpg" />
     </div>

	</div>

</div>

